* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container__inp {
  padding: 10px;
  font-weight: bold;
}

.container-inp--green {
  border: 1px solid green;
  background-color: #42e200;
  cursor: pointer;
  box-shadow: 0 0 3px 0px;
}

.container-inp--red {
  border: 1px solid red;
  background-color: #ff0000d1;
  cursor: pointer;
  box-shadow: 0 0 3px 0px;
}

.changes {
  text-align: center;
  margin: 25px 0;
}

.img {
  width: 40px;
  vertical-align: middle;
}

.masonry {
  position: relative;
}

.masonry__item {
  list-style-type: none;
  position: absolute;
  transition: .3s;
}

.masonry__image {
  width: 100%;
  display: block;
  box-shadow: 0 0 8px 0;
}